flow4.txt
[{"id":"9e29ad98.9e246","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"170c3afd.84c995","type":"http in","z":"9e29ad98.9e246","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":210,"y":260,"wires":[["420f65f0.fab9ac"]]},{"id":"69b7b44f.fafc9c","type":"rpi-gpio in","z":"9e29ad98.9e246","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":190,"y":420,"wires":[["4758b7cf.1c57b8"]]},{"id":"4758b7cf.1c57b8","type":"function","z":"9e29ad98.9e246","name":"Set GPIO","func":"global.set(\"GPIO\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":360,"wires":[["47fcc018.65538"]]},{"id":"420f65f0.fab9ac","type":"function","z":"9e29ad98.9e246","name":"Get GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["6d15da64.7febf4","47fcc018.65538"]]},{"id":"6d15da64.7febf4","type":"http response","z":"9e29ad98.9e246","name":"","statusCode":"","headers":{},"x":630,"y":260,"wires":[]},{"id":"47fcc018.65538","type":"debug","z":"9e29ad98.9e246","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":360,"wires":[]}]