flow3.txt
[{"id":"35e5a384.664bcc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"576d7d00.1fe224","type":"inject","z":"35e5a384.664bcc","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":280,"wires":[["ffce6e77.8f227"]]},{"id":"ffce6e77.8f227","type":"function","z":"35e5a384.664bcc","name":"Payload","func":"msg.headers={\n    deviceKey: \"JJ35LmQxdEnVnwIX\"\n    };\n    \nmsg.payload=\"Temperature,,17\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["3c9be248.e6734e"]]},{"id":"3c9be248.e6734e","type":"http request","z":"35e5a384.664bcc","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/D2LZf0U8/datapoints.csv","tls":"","x":510,"y":280,"wires":[["40cc4db0.7fa574","3be6ee72.ee7dd2"]]},{"id":"40cc4db0.7fa574","type":"http response","z":"35e5a384.664bcc","name":"","statusCode":"","headers":{},"x":670,"y":360,"wires":[]},{"id":"3be6ee72.ee7dd2","type":"debug","z":"35e5a384.664bcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":140,"wires":[]}]