node-red5.txt
[{"id":"a773aefe.dd4d4","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"6fd6a743.c7d938","type":"http in","z":"a773aefe.dd4d4","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":160,"y":180,"wires":[["7cf5072.4d0dcf8","bae993f0.9efa3"]]},{"id":"7cf5072.4d0dcf8","type":"function","z":"a773aefe.dd4d4","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["f1eda53.839c158"]]},{"id":"f1eda53.839c158","type":"rpi-gpio out","z":"a773aefe.dd4d4","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":540,"y":280,"wires":[]},{"id":"bae993f0.9efa3","type":"function","z":"a773aefe.dd4d4","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["c6c81595.d52468","22520052.03b6b"]]},{"id":"c6c81595.d52468","type":"http response","z":"a773aefe.dd4d4","name":"","statusCode":"","headers":{},"x":890,"y":220,"wires":[]},{"id":"22520052.03b6b","type":"debug","z":"a773aefe.dd4d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":380,"wires":[]},{"id":"ddb84860.9f8578","type":"http in","z":"a773aefe.dd4d4","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":130,"y":360,"wires":[["12eca278.3b6c9e","86a0b2c9.a527e"]]},{"id":"12eca278.3b6c9e","type":"function","z":"a773aefe.dd4d4","name":"Clear to 0","func":"msg.payload = 0 ;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["f1eda53.839c158"]]},{"id":"86a0b2c9.a527e","type":"function","z":"a773aefe.dd4d4","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":460,"wires":[["22520052.03b6b","c6c81595.d52468"]]}]