node-red1.txt
[{"id":"90ad8656.a79408","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b43347d4.60b958","type":"rpi-gpio out","z":"90ad8656.a79408","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":670,"y":300,"wires":[]},{"id":"2279b165.d359ae","type":"rpi-gpio in","z":"90ad8656.a79408","name":"button","pin":"7","intype":"up","debounce":"25","read":true,"x":110,"y":260,"wires":[["ceb92bbc.185d38","34ddf28c.e9ce2e"]]},{"id":"ceb92bbc.185d38","type":"switch","z":"90ad8656.a79408","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":300,"wires":[["cbc7cfd3.20b32"],["f524852.2b65f78"]]},{"id":"cbc7cfd3.20b32","type":"change","z":"90ad8656.a79408","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":220,"wires":[["b43347d4.60b958"]]},{"id":"f524852.2b65f78","type":"change","z":"90ad8656.a79408","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":400,"wires":[["b43347d4.60b958"]]},{"id":"34ddf28c.e9ce2e","type":"debug","z":"90ad8656.a79408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":140,"wires":[]}]