node-red2.txt
[{"id":"d6b3f91a.9c3208","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"70d0fe5c.048e","type":"inject","z":"d6b3f91a.9c3208","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":280,"wires":[["c950446c.c3b768"]]},{"id":"c950446c.c3b768","type":"function","z":"d6b3f91a.9c3208","name":"Payload","func":"msg.headers={\n    deviceKey:\"JJ35LmQxdEnVnwIX\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["f417f793.27cff8","aa8c8274.e281d"]]},{"id":"f417f793.27cff8","type":"http request","z":"d6b3f91a.9c3208","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/D2LZf0U8/datachannels/Temperature/datapoints.csv","tls":"","x":450,"y":280,"wires":[["da5102af.2cc2a","fab8a7ea.2aebb8"]]},{"id":"da5102af.2cc2a","type":"debug","z":"d6b3f91a.9c3208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":440,"wires":[]},{"id":"fab8a7ea.2aebb8","type":"http response","z":"d6b3f91a.9c3208","name":"","statusCode":"","headers":{},"x":670,"y":320,"wires":[]},{"id":"aa8c8274.e281d","type":"http request","z":"d6b3f91a.9c3208","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/D2LZf0U8/datachannels/Humidity/datapoints.csv","tls":"","x":460,"y":220,"wires":[["f4939481.d6b9f8","725f020b.09feac"]]},{"id":"f4939481.d6b9f8","type":"http response","z":"d6b3f91a.9c3208","name":"","statusCode":"","headers":{},"x":650,"y":180,"wires":[]},{"id":"725f020b.09feac","type":"debug","z":"d6b3f91a.9c3208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":100,"wires":[]}]